<link rel="stylesheet" href="/Css/style.css">
<div class="callot callot--primary">
    <div class="gris grid--1x2">
        <div class="call--content">
            <h1 class="callot--headin">READY TO GET STARTED !</h1>
            <P class="callot--paragraf">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam facilis sit suscipit architecto sequi temporibus, sint voluptatum odio assumenda officia!</P>
        </div>
       
        <a style="margin-top: 3rem;" href="#" class="btn btn--secondary" >GET STARTED</a>
    
    </div>
</div>